<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="inetbankingV1">

	<listeners>
		<listener class-name="com.inetbanking.Utilities.Reporting" />
	</listeners>


	<test name="BankingApp Test">
		<parameter name="browser" value="firefox" />
		<classes>
			<!--<class name="com.inetbanking.TestCases.TC_LoginTest_001" /> -->
			<!--  <class name="com.inetbanking.TestCases.TC_LoginDDT_002" /> -->
			<!--<class name="com.inetbanking.TestCases.TC_AddCustomerTest_003" /> -->
			<!--<class name="com.inetbanking.TestCases.TC_EditCustomerTest_004" />-->
			     <class name="com.inetbanking.TestCases.TC_NewAccountTest_005" />
		</classes>

	</test>

</suite>